*{
  /* box-sizing property allows us to include the padding and border in an element's total width and height. */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* background: bg-color bg-image position/bg-size bg-repeat background-position; */
  background: #000 url('img/bg.jpg') no-repeat center center/cover;
  /* Viewport Height (vh). This unit is based on the height of the viewport. A value of 1vh is equal to 1% of the viewport height. Viewport Width (vw). */
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}